::before *,
*,
::after * {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::selection {
  background: #9f526430;
}

:root {
  --primary: #9f5264;
  --white: #e6f1ff;
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --fz-xxs: 0.75rem;
  --fz-xs: 0.8125rem;
  --fz-sm: 0.875rem;
  --fz-md: 1rem;
  --fz-lg: 1.125rem;
  --fz-xl: 1.25rem;
  --fz-xxl: 1.375rem;
  --fz-heading: 2rem;
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
}

body {
  width: 100%;
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: #ffebcd;
}

/* navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  color: #fff;
}

.logo {
  font-size: 1.25rem;
  font-weight: 300;
  padding-left: 1.25rem;
}

.nav-links-container {
  display: flex;
  list-style: none;
}

.links {
  text-decoration: none;
  color: #fff;
  margin: 0 5px;
  padding: 10px;
  text-transform: capitalize;
  font-size: 1rem;
  opacity: 0.5;
  transition: 0.5s;
}

.links.active,
.links:hover {
  opacity: 1;
}

/* header */

header {
  width: 80%;
  height: 91vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-heading {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1.25rem;
}

.header-heading .brand-name {
  display: block;
  text-transform: capitalize;
  font-size: 4.5rem;
  margin: 10px 0;
  font-weight: 400;
}

.brand-name span {
  color: var(--primary);
}

.header-img {
  width: 370px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.heading {
  text-align: center;
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.social-links {
  margin-top: 20px;
  display: flex;
  gap: 1.25rem;
}

.social-img {
  width: 30px;
  height: 30px;
  opacity: 0.4;
  transition: 0.5s;
}

.social-img:hover {
  opacity: 1;
}

footer {
  padding: 1.75rem;
  background-color: var(--primary);
  color: #fff;
}

/* MEDIA QUERIES */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header {
    width: 100%;
    height: 91vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
  }

  .header-heading {
    font-size: 2rem;
    margin-bottom: 1.25rem;
  }

  .header-heading .brand-name {
    font-size: 2.5rem;
    font-weight: 400;
  }

  .header-img {
    width: 185px;
    height: 280px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 2rem;
  }

  .social-links {
    margin-top: 10px;
    display: flex;
    gap: 1rem;
  }

  .social-img {
    width: 25px;
    height: 25px;
    opacity: 0.4;
    transition: 0.5s;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  header {
    align-content: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    width: 100%;
    height: 91vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
}
